<section class="mx-auto max-w-7xl px-4 w-full">
    <div class="bg-gradient-to-tr from-[#B8DDFE] to-[#9ce4ff] mx-auto w-full rounded-3xl px-4 py-6 ">
        <h1 class="text-4xl text-center font-bold mb-6">Consulta tu historial de peajes</h1>
        <div class="max-w-2xl mx-auto">
            <search>
                <form class="flex gap-2">
                    <input
                            type="text"
                            placeholder="Ingresa la matrícula de tu vehículo"
                            class="flex-1 px-4 py-3 rounded-lg text-lg"
                    />
                    <button class="px-6 py-3 bg-primary text-white rounded-lg hover:bg-primary-light transition-colors">
                        Buscar
                    </button>
                </form>
            </search>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const $search = document.querySelector('search');
            $search.addEventListener('submit', function (event) {
                event.preventDefault();
                const value = $search.querySelector('input').value;
                if (value) {
                    window.location.href = `/toll_record/?lince_plate=${value}`;
                }
            });
        });
    </script>
</section>