{% extends 'layouts/MainLayout.html' %}

{% block title %}
    QuickPass - Registros de matrícula{% if request.GET.license_plate %}: {{ request.GET.license_plate }}{% endif %}
{% endblock %}

{% block content %}
    <section class="mx-auto max-w-7xl w-full">
        <div class="mx-auto w-full px-4">
            {% include "toll_records/components/Search.html" %}
            {% if toll_records %}
                <h2 class="font-semibold text-2xl md:text-3xl pb-4 md:pb-8">Registro de
                    matrícula {{ request.GET.license_plate }}</h2>
                <div class="overflow-x-auto">
                    <table class="min-w-full bg-white border border-gray-200 rounded-lg shadow-md">
                        <thead>
                        <tr class="bg-gray-100 text-gray-700 text-left text-sm uppercase font-semibold tracking-wider">
                            <th class="px-4 py-3 border-b">Matrícula</th>
                            <th class="px-4 py-3 border-b">Fecha de Paso</th>
                            <th class="px-4 py-3 border-b">Ubicación</th>
                            <th class="px-4 py-3 border-b">Importe</th>
                            <th class="px-4 py-3 border-b">Pagado</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for record in toll_records %}
                            <tr class="text-gray-700 hover:bg-gray-100 transition-colors">
                                <td class="px-4 py-3 border-b">{{ record.license_plate }}</td>
                                <td class="px-4 py-3 border-b">{{ record.pass_date }}</td>
                                <td class="px-4 py-3 border-b">{{ record.location }}</td>
                                <td class="px-4 py-3 border-b">{{ record.amount_due }}</td>
                                <td class="px-4 py-3 border-b">{{ record.paid|yesno:"Sí,No" }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="py-4">
                    <div class="flex justify-center space-x-2">
                        {% if toll_records.has_previous %}
                            <a href="?{% if request.GET.license_plate %}license_plate={{ request.GET.license_plate }}&{% endif %}page=1"
                               class="px-3 py-1 bg-gray-200 text-gray-600 rounded hover:bg-gray-300">Primero</a>
                            <a href="?{% if request.GET.license_plate %}license_plate={{ request.GET.license_plate }}&{% endif %}page={{ toll_records.previous_page_number }}"
                               class="px-3 py-1 bg-gray-200 text-gray-600 rounded hover:bg-gray-300">Anterior</a>
                        {% endif %}

                        <span class="px-3 py-1 bg-gray-300 text-gray-700 rounded">{{ toll_records.number }} de {{ toll_records.paginator.num_pages }}</span>

                        {% if toll_records.has_next %}
                            <a href="?{% if request.GET.license_plate %}license_plate={{ request.GET.license_plate }}&{% endif %}page={{ toll_records.next_page_number }}"
                               class="px-3 py-1 bg-gray-200 text-gray-600 rounded hover:bg-gray-300">Siguiente</a>
                            <a href="?{% if request.GET.license_plate %}license_plate={{ request.GET.license_plate }}&{% endif %}page={{ toll_records.paginator.num_pages }}"
                               class="px-3 py-1 bg-gray-200 text-gray-600 rounded hover:bg-gray-300">Último</a>
                        {% endif %}
                    </div>
                </div>
            {% else %}
                <h2 class="font-semibold text-2xl md:text-3xl pb-4 md:pb-8">No se encontraron registros de peaje para
                    esta matrícula.</h2>
            {% endif %}
        </div>
    </section>
{% endblock %}